.LoginSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.LoginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 25px;
  border-radius: 15px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
  background-color: #9b27c5;
  background: linear-gradient(270deg, #9b27c5, #7d55c7);
  background-size: 400% 400%;
  animation: background-animate 5s ease infinite;
  color: white;
  gap: 15px;
  position: relative;
  overflow: hidden;
}

@keyframes background-animate {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.LoginHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.LoginTitle {
  font-size: 2.2rem;
}

.Register {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Register a {
  font-weight: 600;
}

.Register a:hover {
  text-decoration: underline;
}