@font-face {
  font-family: 'ComicNeue';
  src: 
    url('../public/fonts/Comic_Neue/ComicNeue-Regular.woff') format('woff'),
    url('../public/fonts/Comic_Neue/ComicNeue-Regular.ttf') format('truetype');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'ComicNeue';
  src: 
    url('../public/fonts/Comic_Neue/ComicNeue-Light.woff') format('woff'),
    url('../public/fonts/Comic_Neue/ComicNeue-Light.ttf') format('truetype');
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: 'ComicNeue';
  src: 
    url('../public/fonts/Comic_Neue/ComicNeue-Bold.woff') format('woff'),
    url('../public/fonts/Comic_Neue/ComicNeue-Bold.ttf') format('truetype');
  font-display: swap;
  font-weight: 700;
}

:root {
  font-family: 'ComicNeue', cursive, Arial, sans-serif;
  font-size: 12pt;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  display: none;
}

input, button, select, textarea {
  font-family: inherit;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ul {
  list-style: none;
}

#root, body {
  min-height: 100vh;
}

.Content {
  width: 100%;
}

section {
  padding: 10px;
}
